@import './base.css';

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

#app {
  width: 100%;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}
.report-container{
  background-size: 30px 30px;
  background-image: radial-gradient(circle, #bbbbbb 1px, #0000 1px);
}
